body {
  font-family: 'Slabo 27px', serif;
}

.header-menu {
  background-color: #703781;
}

.header-menu a {
  color: #ffffff;
  font-weight: bolder;
}

.content-wrapper {
  padding: 2%;
}

.pure-button-primary {
  background-color: #703781;
}

.album {
  text-align: center;
}
