
/*
==========================================================================
  Layout definitions
==========================================================================
*/
body {
  font-family: 'Slabo 27px', serif;
}

.content-wrapper {
  padding: 2%;
}

.pure-button-primary {
  background-color: #703781;
}

/*
==========================================================================
  Header
==========================================================================
*/
.header-menu {
  background-color: #703781;
}

.header-menu a {
  color: #ffffff;
  font-weight: bolder;
}

/*
==========================================================================
  Albums definitions
==========================================================================
*/
.album {
  text-align: center;
}

/*
==========================================================================
  Spinner definitions
==========================================================================
*/
div.atebits-loader {
  margin-top: 25%;
}

img.spinner-show{
   display: block;
}
img.spinner-hide{
  display: none;
}
